.wrapBtns {
    display: flex;
    justify-content: center;
    padding: 20px;
}
.redBtn {
    width: 110px;
    height: 28px;
    color: #ffffff;
    font-weight: bold;
    background-color: #E49C99;
    border: 0.1px;
    border-radius: 6px;
    transition:0.7s ease;
    -moz-transition:0.7s ease;
}
.seaGreenBtn {
    width: 110px;
    height: 28px;
    color: #ffffff;
    font-weight: bold;
    background-color: #ffffff00;
    border: 0.1px;
    border-radius: 6px;
    transition:0.7s ease;
    -moz-transition:0.7s ease;
}
.blueBtn {
    width: 110px;
    height: 28px;
    color: #ffffff;
    font-weight: bold;
    background-color: #ffffff00;
    border: 0.1px;
    border-radius: 6px;
    transition:0.7s ease;
    -moz-transition:0.7s ease;
}
.activebtn {
    background-color: rgba(0, 0, 0, 0.253);
    font-weight: bolder;
    transition:0.3s ease;
    -moz-transition:0.3s ease;
}