.redMenu {
    width: 219.4%;
    background-color: brown;
}
.seaGreenMenu {
    width: 219.4%;
    background-color: rgb(25, 240, 122);
}
.blueMenu {
    width: 219.4%;
    background-color: rgb(42, 157, 165);
}