.box {
    display: flex;
    justify-content: center;
    align-items: center;
}
.PomofocusTitle {
    color: white;
    font-weight: 700;
    margin-right: 200px;
}
.btn {
    width: 110px;
    height: 28px;
    color: #ffffff;
    font-weight: bold;
    border: 0.1px;
    border-radius: 6px;
    margin-left: 10px;
}
.red {
    background-color: #E49C99;
    transition:0.8s ease;
    -moz-transition:0.8s ease;
}
.seaGreen {
    background-color: #ffffff4d;
    transition:0.8s ease;
    -moz-transition:0.8s ease;
}
.blue {
    background-color: #ffffff4d;
    transition:0.8s ease;
    -moz-transition:0.8s ease;
}